[Unit]
Description=Service to run the video stream via flask
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/bbcam
ExecStart=/usr/bin/python main.py

[Install]
WantedBy=multi-user.target
