body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#container {
    position: relative;
}

img#video-stream {
    max-width: 100%;
    height: auto;
    display: block;
}

.button-class {
    background-color: #616161aa;
    box-shadow: 0 0px 1px 1px gray;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    cursor: pointer;
    line-height: 2em;
    width: 2em;
    text-align: center;
}

#reload-link {
    position: absolute;
    top: 2px;
    right: 2px;
}

#capture-link {
    position: absolute;
    top: 2px;
    right: calc(2em + 20px);
}
